.post{
    display: flex;
    align-items: flex-start;
    background-color: white;
    box-shadow: -1px 0px 5px 5px var(--lightGrey);
    border-radius: 5px;
    margin: 0.75rem 0;
    padding: 0.75rem;
}

.post a {
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.post p {
    color: var(--darkGrey);
    font-size: smaller;
}

.post--left{
    width: 3.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

}
.post--left:hover{
    background-color: var(--lightAsh);
    padding: .25rem 0;
}

.post--left > .score:hover {
    color: green;
    font-weight: 500;
}

.post--left > .arrow {
    font-size: large;
    color: var(--fontGrey);
}

.post--left > .arrow-up:hover {
    color: var(--orange);
}

.post--left > .arrow-down:hover {
    color: var(--blue);
}


.post--right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    gap: 0.5rem;
}

.post--right > img {
    width: 100%;
    border-radius: 5px;
}

.post--right{
    display: flex;
    flex-direction: column;
}

.post--right > h3 a {
    font-weight: 500;
    font-size: large;
    padding: 1rem 0; 
    line-height: 1.2;
    letter-spacing: normal;
}

.post--right > .post--info {
    display: flex;
    align-items: center;
    font-size: smaller;
    gap: 0.5rem;
    color: var(--darkGrey);
}

.post--right > .post--info > .subreddit--info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    color: var(--darkGrey);
}

.subreddit--info {
    gap: 0.25rem;
}

.subreddit--info > img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 2px solid var(--blue);
}

.post--info > p {
    gap: 0.25rem;
}

.post--right--bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

.post--bottom--actions {
    gap: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post--bottom--actions:hover {
    color: var(--black);
    font-weight: 500;
}

.comments--toggle--button {
    margin-left: auto;
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 0 1rem;
}

.comments--toggle--button:hover {
    background-color: var(--blue);
    color: white;
}

.post--right > * {
    margin-bottom: 0.25rem;
}

.post--info {
    margin-top: 0.25rem;
}